<!DOCTYPE html>
<head>
    <title>Work Journey Duration</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}" defer> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <canvas id="myChart" ></canvas>
</body>
</html>